.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    margin-top: 100px;
}

.main-container {
    background-color: #b32630;

    @media (max-width: 950px) {
        display: block;
    }

    .poke-list {
        width: 100%;
        display: flex;
        padding: 40px 40px 0px;

        @media (max-width: 950px) {
            width: 100%;
            padding: 20px;
        }

        .poke-container {
            border-radius: 10px;

            .search {
                max-width: 300px;
                width: 100%;
            }

            .list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 100px;
                gap: 20px;

                .list::-webkit-scrollbar {
                    display: none;
                }

                @media (max-width: 950px) {
                    max-width: 100%;
                    padding-top: 60px;
                }

                .card {
                    width: 200px;
                    margin-bottom: 80px;
                    border-radius: 10px;
                    padding: 20px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: visible;
                    transition: transform 0.3s ease;

                    @media (max-width: 950px) {
                        margin-bottom: 60px;
                         flex: 1 1 180px;
                    }

                    .poke-img {
                        width: 180px;

                        @media (max-width: 950px) {
                            width: 110px;
                        }
                    }



                    .card-body {
                        height: 210px;
                        text-align: center;
                        transform: translateY(-50%);

                        @media (max-width: 950px) {
                            height: 170px;
                        }
                    }

                    .poke-left {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }

                    .pokeball {
                        width: 40px;
                    }

                    .poke-btn {
                        display: flex;
                        margin: 20px auto;
                        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                        color: #fff;
                        border-color: #fff;
                        width: 70%;
                        justify-content: center;
                    }

                    .poke-types {
                        display: flex;
                        gap: 5px;
                        justify-content: center;

                        .badge {
                            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                        }
                    }
                }

                .card:hover {
                    transform: scale(1.1);
                }
            }

        }

    }

    .paginator {
        transform: translateY(-50px);
        justify-content: right;
        margin-right: 55px;

        @media (max-width: 950px) {
            transform: translateY(-40px);
            justify-content: center;
            margin-right: 0;
        }

        .active .page-link {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .disabled {
            opacity: .5;
        }

        .page-link {
            color: #fff;
            background-color: #950606;
            transition: transform 0.3s ease;
        }

        .page-link:hover {
            transform: scale(1.1);
        }
    }
}


.fire {
    background: #f08030;
}

.water {
    background: #6890f0;
}

.grass {
    background: #78c850;
}

.electric {
    background: #f8d030;
}

.poison {
    background: #a040a0;
}

.rock {
    background: #b8a038;
}

.ground {
    background: #e0c068;
}

.psychic {
    background: #f85888;
}

.ice {
    background: #98d8d8;
}

.dragon {
    background: #7038f8;
}

.normal {
    background: #a8a878;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-spinner {
    width: 60px;
    animation: spin 1s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: translateY(-20px) rotate(0deg);
    }

    to {
        transform: translateY(-20px) rotate(360deg);
    }
}