.main-container {
    background-color: #b32630;
    min-height: 100vh;
    display: flex;

    @media (max-width: 950px) {
        display: block;
    }

    .left-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 950px) {
            width: 100%;
        }

        .poke-btn {
            display: flex;
        }

        .poke-img {
            width: 400px;

            @media (max-width: 950px) {
                width: 200px;
            }
        }
    }


    .poke-list {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;

        @media (max-width: 950px) {
            width: 100%;
            padding: 20px;
        }

        .poke-container {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .search {
                max-width: 500px;

                @media (max-width: 950px) {
                    max-width: 100%;
                }
            }

            .list {
                max-width: 500px;
                height: 500px;
                overflow-y: auto;
                overflow-x: hidden;

                @media (max-width: 950px) {
                    max-width: 100%;
                }

                .card {
                    width: 100%;
                    border-radius: 10px;
                    padding: 20px;
                    margin-bottom: 10px;
                    cursor: pointer;

                    .card-body {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .poke-left {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }

                    .pokeball {
                        width: 40px;
                    }

                    .poke-types {
                        display: flex;
                        gap: 5px;
                    }
                }

                .card:hover {
                    background-color: lightgray;
                }

                .card.selected {
                    background-color: #CD5C5C;
                    color: #fff;
                    border-color: red;
                }
            }



        }

    }
}


.fire {
    background: #f08030;
}

.water {
    background: #6890f0;
}

.grass {
    background: #78c850;
}

.electric {
    background: #f8d030;
}

.poison {
    background: #a040a0;
}

.rock {
    background: #b8a038;
}

.ground {
    background: #e0c068;
}

.psychic {
    background: #f85888;
}

.ice {
    background: #98d8d8;
}

.dragon {
    background: #7038f8;
}

.normal {
    background: #a8a878;
}