.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff2b2b, #8b0000);

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .login-image {
            width: 450px;
        }

        .poke-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding: 20px;
            .login-btn {
                width: 200px;
            }
        }

    }
}