<div class="login-container">
    <div class="main-container">
        <img data-aos="zoom-in" data-aos-duration="1000" src="Pokemon_logo.png" alt="Pokemon" class="login-image" />
        <form class="poke-form" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User">
            </div>
            <div class="form-group pass">
                <input type="password" class="form-control"  placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-light login-btn" (click)="login()">Login</button>
        </form>
    </div>
</div>